/* 
font-family: 'proxima_novabold';
font-family: 'proxima_novalight';
font-family: 'proxima_novaregular';
font-family: 'proxima_novasemibold';
font-family: 'arvobold_italic';
font-family: 'arvoitalic';
font-family: 'arvoregular';
font-family: 'arvobold';
*/
@import url('../fonts/stylesheet.css');
body {
	padding: 0;
	margin: 0;
	background-color: #fff;
	font-family: 'proxima_novaregular';
	min-width: 940px;
}
img {
	border: 0;
	vertical-align: top;
}
a {
	color: #881208;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
:focus {
	outline: 0;
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 15px;
	color: #881208;
	font-family: 'arvobold';
}
h1 {
	font-size: 40px;
	font-weight: normal;
}
h2 {
	font-size: 30px;
	font-weight: normal;
}
h3 {
	font-size: 18px;
	font-weight: normal;
}
h4 {
	font-size: 16px;
	font-weight: normal;
}
h5 {
	font-size: 14px;
	font-weight: normal;
}
h6 {
	font-size: 12px;
	font-weight: normal;
}
/* Forms */
form {
	display: inline;
}
fieldset {
	border: 0;
}
legend {
	display: none;
}
/* Table */
table {
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	font-size: 100%;
}
caption, th, td {
	vertical-align: top;
	text-align: left;
	font-weight: normal;
}
/* Content */
p {
	margin: 0 0 15px;
	padding: 0;
	font-size: 15px;
	line-height:22px;
	color: #292929
}
strong {
	font-weight: normal;
}
address {
	font-style: normal;
	line-height: 1.35;
}
cite {
	font-style: normal;
}
q, blockquote {
	quotes: none;
}
q:before, q:after {
	content: '';
}
small, big {
	font-size: 1em;
}
ul, ol {
	list-style: none;
}
/* Tools */

/* Form Elements */
textarea {
	resize: none;
	overflow: auto
}
.c {
	clear: both;
	height: 0;
	visibility: hidden;
	display: block
}
.single-column {
	padding: 20px 0 0 0;
	margin: 0;
}
.two-column-left {
	padding: 20px 0 0 0;
	margin: 0;
	overflow: hidden;
}
.two-column-left article {
	float: right;
	width: 620px;
}
.two-column-left aside {
	float: left;
	width: 300px;
}
/* two right */
.two-column-right {
	padding: 20px 0 0 0;
	margin: 0;
	overflow: hidden;
}
.two-column-right article {
	float: left;
	width: 620px;
}
.two-column-right aside {
	float: right;
	width: 300px;
	margin-bottom: 20px;
}
.wrapper {
	padding: 0;
	margin: 0 auto;
	width: 940px;
	position: relative;
}
.gray {
	background-color: #eeeeee;
}
.vSpacer5 {
	height: 5px;
	overflow: hidden;
}
.vSpacer10 {
	height: 10px;
	overflow: hidden;
}
.vSpacer15 {
	height: 15px;
	overflow: hidden;
}
.vSpacer20 {
	height: 20px;
	overflow: hidden;
}
img.alignright {
	float: right;
	margin: 0 0 0 1em;
}
img.alignleft {
	float: left;
	margin: 0 1em 0 0;
}
img.aligncenter {
	display: block;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}
a img.alignright {
	float: right;
	margin: 0 0 0 1em;
}
a img.alignleft {
	float: left;
	margin: 0 1em 0 0;
}
a img.aligncenter {
	display: block;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}
.read-more{
	background-color: #9B2B2C;
    border-radius: 50px;
    color: #FFFFFF;
    display: inline-block;
    font-family: 'arvobold';
    padding: 5px 20px;
	}
.grays {
	background-color: #eee
}
.white {
	background-color: #fff
}
.black {
	background-color: #2C2C2C
}
.cross-a{
	overflow: hidden;
	z-index: 200;
	position: absolute;
	bottom: -90px;
	left: 0;
	width: 100%;
	max-width: 4000px;
	height: 90px;
}
.cross-a.top {
	z-index: 100;
	bottom: auto;
	top: 0;
}
.cross-a.bottom {
	bottom: 0;
}
.cross-a .cross{
	position: absolute;
	top: -47px;
	left: 50%;
	width: 110%;
	margin-left: -55%;
	height: 90px;
	-moz-transform: rotate(-2.5deg);
	-webkit-transform: rotate(-2.5deg);
	-o-transform: rotate(-2.5deg);
	-ms-transform: rotate(-2.5deg);
	transform: rotate(-2.5deg);
}
.cross-a.top .cross {
	bottom: 47px;
}
.cross-a.bottom .cross{
	top: 47px;
}
div.cross-a div.cross.deco-bottom{
	border-bottom:2px solid #cbcbcb;
	}
div.cross-a div.cross.deco-top{
	border-top:2px solid #cbcbcb;
	}
.cross-b {
	overflow: hidden;
	z-index: 200;
	position: absolute;
	bottom: -90px;
	left: 0;
	width: 100%;
	max-width: 4000px;
	height: 90px;
}
.cross-b.top {
	z-index: 100;
	bottom: auto;
	top: 0;
}
.cross-b.bottom {
	bottom: 0;
}
.cross-b .cross{
	position: absolute;
	top: -47px;
	left: 50%;
	width: 110%;
	margin-left: -55%;
	height: 90px;
	-moz-transform: rotate(2.5deg);
	-webkit-transform: rotate(2.5deg);
	-o-transform: rotate(2.5deg);
	-ms-transform: rotate(2.5deg);
	transform: rotate(2.5deg);
}
.cross-b.top .cross {
	bottom: 47px;
}
.cross-b.bottom .cross {
	top: 47px;
}
div.cross-b div.cross.deco-bottom{
	border-bottom:2px solid #cbcbcb;
	}
div.cross-b div.cross.deco-top{
	border-top:2px solid #cbcbcb;
	}
ul.list1{
	padding:0 0 15px 0;
	margin:0;
	display:table-cell;
	overflow:hidden;
	}
ul.list1 li{
	list-style:none;
	background-image:url(../images/bullet.png);
	background-repeat:no-repeat;
	background-position:left 5px;
	padding-left:20px;
	line-height:25px;
	font-family: 'arvobold';
	color:#292929;
	}
ul.list2{
	padding:0 0 15px 0;
	margin:0;
	overflow:hidden;
	}
ul.list2 li{
	border-left:5px solid #9b2b2c;
	padding-left:15px;
	margin-bottom:10px;
	}
.content-img{
	overflow:hidden;
	margin:0 0 15px 0
	}
/* pagination start */
.pagination{
	padding:90px 0 40px;
	margin:0;
	position:relative;
	}
.wp-pagenavi {
    margin:0;
    padding:0;
    width: 100%;
	text-align:center
}
.wp-pagenavi a {
    background-image: url("../images/pagination.png");
    background-position: -91px 0;
    background-repeat: no-repeat;
    color: #555555;
    display: inline-block;
    height: 33px;
    line-height:33px;
    text-align: center;
    width: 26px;
	font-family: 'proxima_novabold';
	margin:0 5px;
}
.wp-pagenavi span.current {
    background-image: url("../images/pagination.png");
    background-position: -153px 0;
    background-repeat: no-repeat;
    color: #555555;
    display: inline-block;
    height: 33px;
    line-height: 33px;
    text-align: center;
    width: 26px;
	font-family: 'proxima_novabold';
}
.wp-pagenavi a.prevpostslink {
    background-image: url("../images/pagination.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #555555;
    display: inline-block;
    height: 33px;
    line-height: 33px;
    text-align: center;
    width: 81px;
}
.wp-pagenavi a.nextpostslink {
    background-image: url("../images/pagination.png");
    background-position: -220px 0;
    background-repeat: no-repeat;
    color: #555555;
    display: inline-block;
    height: 33px;
    line-height: 33px;
    text-align: center;
    width: 81px;
}
/* pagination close */
/* select start */

/* select close */