/* header start */
header{
	padding:15px 0 0 0;
	margin:0;
	background-image:url(../images/header-bg.jpg);
	background-repeat:repeat-y;
	background-position:center top;
	overflow:hidden;
	}
.wrap{
	padding:0;
	margin:0
	}
h1.logo{
	padding:0;
	margin:0;
	width:30%;
	float:left;
	}
h1.logo a{
	display:block
	}
span.logo{
	padding:0;
	margin:0;
	width:30%;
	float:left;
	}
span.logo a{
	display:block
	}	
.hright{
	float:right;
	width:70%;
	}
.hright .call-now{
	font-size:20px;
	color:#ffffff;
	font-family: 'arvobold';
	text-align:right
	}
.hright .call-now span{
	font-size:20px;
	color:#807d7d;
	display:inline-block;
	font-family: 'arvoregular';
	margin-right:5px;
	}
nav{
	padding:0;
	margin:0 0 0 20px;
	}
ul.menu{
	padding:0;
	margin:50px 0 0 0;
	overflow:hidden;
	}
ul.menu li{
	list-style:none;
	float:left;
	margin-right:10px;
	}
ul.menu li a{
	height:31px;
	line-height:31px;
	display:block;
	padding:0 0 0 12px;
	color:#fff;
	font-family: 'arvobold';
	}
ul.menu li a span{
	display:inline-block;
	padding-right:12px;
	}
ul.menu li a:hover, li a.active{
	background-image:url(../images/menu-bg.png);
	background-repeat:no-repeat;
	background-position:left 0;
	}
ul.menu li a:hover span, li a.active span{
	background-image:url(../images/menu-bg.png);
	background-repeat:no-repeat;
	background-position:right -31px;
	}
/* header close */
/* banner start */
.banner{
	padding:0;
	margin:0;
	position:relative;
	height:500px;
	}
.banner .white-cross.bottom {
	bottom:2px;
}
.page-title{
	padding:80px 0 50px;
	margin:0;
	position:relative;
	}
.page-title h1{
	font-size:30px;
	color:#881208;
	margin:0;
	display:inline-block;
	text-align:left;
	}
.header-cross{
	background-image:url(../images/header-cross.png);
	background-repeat:no-repeat;
	background-position:center top;
	height:68px;
	position:absolute;
	width:100%;
	top:0;
	left:0;
	z-index:1000
	}
.cycle-slideshow{
	padding:0;
	margin:0
	}
.cycle-slide {
	width:100%;
	height:498px;
	overflow:hidden;
	}
.cycle-slide .wrapper{
	width:940px;
	margin:90px auto 0;
	overflow:hidden;
	}
.cycle-slide .wrapper h2{
	color:#fff;
	font-size:40px;
	width:47%;
	line-height:60px;
	float:right;
	text-shadow:1px 1px #8f9aa3;
	margin-bottom:25px;
	}
.cycle-slide .wrapper p{
	color:#292929;
	font-size:16px;
	width:55%;
	float:right;
	margin-bottom:25px;
	line-height:25px;
	font-family: 'proxima_novabold';
	}
.cycle-slide .wrapper .btn{
	width:500px;
	float:right;
	}
.cycle-slide .wrapper .btn a{
	background-color:#991b1b;
	color:#fff;
	font-size:20px;
	padding:7px 30px;
	display:inline-block;
	font-family: 'arvobold';
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	}
.cycle-slide .wrapper .bcimg {
	float: left;
	display: inline-block !important;
	width: 48% !important
}
.banner #pager{
	position:absolute;
	bottom:110px;
	right:20%;
	z-index:1000
	}
.banner #pager a{
	float:left;
	display:block;
	width:57px;
	height:57px;
	margin:0 5px;
	text-align:center;	
	}
.banner #pager a img{
	width:50px;
	height:50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	margin-top:5px;
	}
.banner #pager a.cycle-pager-active{
	background-image:url(../images/banner-nav-bg.png);
	background-repeat:no-repeat;
	background-position:0 0;
	}
/* banner close */
/* home services start */
.home-services{
	padding:0;
	margin:0;
	}
.home-services h1{
	padding:0;
	margin:0 0 30px 0;
	display:inline-block;
	}
.home-services h2{
	padding:0;
	margin:0 0 30px 0;
	display:inline-block;
	}
.home-services .carousel{
	padding:0;
	margin:0;
	width:940px !important;
	position:relative;
	}
.home-services ul{
	padding:0;
	margin:0;
	}
.home-services li{
	text-align:center;
	list-style:none;
	width:300px;
	margin-right:13px;
	height:275px;
	}
.home-services li img{
	display:block;
	margin:0 auto 10px;	
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	}
.home-services li span{
	font-size:20px;
	color:#292929;
	display:block;
	margin-bottom:15px;
	font-family: 'arvobold';
	}
.home-services li p{
	font-size:15px;
	color:#292929;
	padding:0 10px;
	margin:0 0 10px 0;
	line-height:22px;
	}
.home-services li a{
	display:inline-block;
	background-color:#9b2b2c;
	color:#fff;
	padding:5px 20px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	font-family: 'arvobold';
	}
.home-services .prev{
	padding:0;
	margin:0;
	width:31px;
	height:19px;
	background-image:url(../images/next-prev.jpg);
	background-repeat:no-repeat;
	background-position:0 0;
	display:inline-block;
	position:absolute;
	right:38px;
	top:10px
	}
.home-services .next{
	padding:0;
	margin:0;
	width:31px;
	height:19px;
	background-image:url(../images/next-prev.jpg);
	background-repeat:no-repeat;
	background-position:-38px 0;
	display:inline-block;
	position:absolute;
	right:0;
	top:10px;
	}
/* home services close */
/* home about start */
.home-about{
	padding:90px 0 10px 0;
	margin:0;
	position:relative;
	}
.home-about .wrap{
	padding:0 0 50px 0
	}
.home-about .wrapper{
	overflow:hidden
	}
.home-about .wrapper p{
	line-height:22px;
	font-size:15px;
	}
.home-about .wrapper h3{
	color:#292929
	}
ul.habout-list{
	padding:0;
	margin:0;
	}
ul.habout-list li{
	float:left;
	width:25%;
	border-left:5px solid #9b2b2c;
	padding-left:15px;
	}
/* home about close */
/* home solid tips start */
.home-tips{
	padding:20px 0 50px;
	margin:0;
	position:relative;
	}
.home-tips h2{
	display:inline-block;
	}
.home-tips a.view{
	position:absolute;
	right:0;
	top:10px;
	}
ul.blog-post{
	padding:0;
	margin:0;
	overflow:hidden;
	}
ul.blog-post li{
	list-style:none;
	float:left;
	margin:0;
	width:470px;
	overflow:hidden;	
	}
ul.blog-post li .post-left{
	float:left;
	width:40%
	}
ul.blog-post li .post-right{
	float:right;
	width:58%
	}
ul.blog-post li .post-title{
	display:block;
	margin-bottom:10px;
	}
ul.blog-post li .post-meta{
	overflow:hidden;
	padding:0;
	margin:0 0 10px 0;
	font-size:13px;
	}
ul.blog-post li .post-meta span.author{
	float:left;
	margin-right:5px;
	}
ul.blog-post li .post-meta span.date{
	float:left;
	margin-right:5px;
	}
ul.blog-post li .post-meta span.comments{
	float:left;
	}
ul.blog-post li .post-content{
	padding:0;
	margin:0;
	}
ul.blog-post li .post-content p{
	padding:0;
	margin:0 0 10px 0;
	font-size:15px;
	}
ul.blog-post li a.more{
	background-image:url(../images/read-more.png);
	background-repeat:no-repeat;
	background-position:right;
	padding-right:20px;
	font-size:14px;
	}
/* home solid tips close */
/* contact now start */
.contact-now{
	padding:90px 0 70px 0;
	margin:0;
	background-color:#2c2c2c;
	background-image:url(../images/round-pattern.png);
	background-repeat:no-repeat;
	background-position:center 15px;
	position:relative;
	}
.contact-now .wrap{
	text-align:center;
	}
.contact-now h3{
	padding:0;
	margin:0 0 30px 0;
	color:#fff;
	display:block;
	}
/* contact now close */
/* footer start */
footer{
	padding:0;
	margin:0;
	}
footer .wrap{
	padding:50px 0 10px;
	margin:0;
	background-image:url(../images/footer-pattern.jpg);
	background-repeat:repeat;
	font-family: 'arvobold';
	}
.social-media{
	padding:0;
	margin:0 0 15px 0;
	text-align:center
	}
.social-media a{
	width:55px;
	height:55px;
	background-image:url(../images/social-media-icon.png);
	background-repeat:no-repeat;
	background-position:0 0;
	display:inline-block;
	margin-right:5px;
	}
.social-media a.facebook{
	background-position:0 0;
	}
.social-media a.twitter{
	background-position:-73px 0;
	}
.social-media a.in{
	background-position:-145px 0;
	}
.social-media a.gplus{
	background-position:-217px 0;
	}
.social-media a.rss{
	background-position:-290px 0;
	}
footer p.message{
	color:#7f7e7e;
	text-align:center;
	line-height:22px;
	}
footer p.address{
	color:#fff;
	text-align:center;
	font-size:16px;
	line-height:25px;
	}
footer p.mail-call{
	color:#7f7e7e;
	}
footer p.mail-call span{
	display:inline-block;
	width:49%;
	}
footer p.mail-call span.email{
	text-align:left;
	font-size:20px;
	color:#fff;
	}
footer p.mail-call span.email a{
	color:#fff;
	}
footer p.mail-call span.call{
	text-align:right;
	font-size:20px;
	color:#fff;
	}
footer p.mail-call span.call span{
	color: #807D7D;
    display: inline-block;
    font-family: 'arvoregular';
    font-size:18px;
    margin-right: 5px;
	}
.copy{
	padding:30px 0 20px;
	margin:20px 0 0 0;
	background-image:url(../images/footer-deco.jpg);
	background-repeat:repeat-x;
	overflow:hidden;
	font-size:14px;
	color:#7f7e7e
	}
.copy a{
	color:#7f7e7e;
	}
.copy .left{
	float:left;
	width:45%;
	}
.copy .right{
	float:right;
	width:55%;
	text-align:right;
	padding-top:10px;
	}
.copy .right a{
	margin:0 7px;
	}
.right div{
	display: inline;
}
.right ul{
	margin:0;
	padding: 0;
}
.right ul li{
	list-style: none;
}
.right ul li a{
	padding: 0;
	color: #7f7e7e;
}
.right ul li a:hover,.right ul li a.active{
	background-image:none !important;
}
/* footer close */
/* services and services detail page start */
.services-page{
	padding:0;
	margin:0;
	position:relative;
	}
.services-page.gray{
	padding:70px 0 0 0;
	margin:0;
	}
.services-page.white{
	padding:90px 0 15px 0;
	margin:0;
	}
.services-detail-page{
	padding:0 0 30px 0;
	margin:0;
	}
.services-detail-page h2{
	padding:0;
	margin:0 0 15px 0;
	color:#292929;
	font-size:25px;
	font-family: 'arvoregular';
	}
.services-detail-page h3{
	padding:0;
	margin:0 0 15px 0;
	color:#292929;
	}
/* services and services detail page close */
/* gallery page start */
.gallery-page{
	padding:0;
	margin:0;
	position:relative;
	}
.gallery-page.gray{
	padding:70px 0 0 0;
	margin:0;
	}
.gallery-page.white{
	padding:90px 0 15px 0;
	margin:0;
	}
.gallery-page ul{
	padding:20px 0;
	margin:0;
	}
.gallery-page ul li{
	list-style:none;
	display:inline-block;
	vertical-align:top;
	width:48%;
	margin:0 5px;
	}
.gallery-page ul li a{
	display:block
	}
/* gallery page close */
/* contactus page start */
.map{
	padding:0;
	margin:0;
	position:relative;
	height:600px;
	}
.gmap3{
	margin:0;
	width: 100%;
	height: 600px;
	}
.gm-style .gm-style-iw, .gm-style .gm-style-iw a, .gm-style .gm-style-iw span, .gm-style .gm-style-iw label, .gm-style .gm-style-iw div{
	width:auto !important;
	overflow:hidden !important
	}
.infow{
	width:100%;
	height:auto;
	overflow:hidden;
	font-size:16px;
	color:#292929;
	}
.infow h1{
	font-size:30px;
	color:#292929;
	text-align:center;
	margin-bottom:10px;
	}
.infow .left{
	float:left;
	width:40%;
	}
.infow .right{
	float:right;
	width:55%;
	padding-left:20px;
	}
.contactus{
	padding:50px 0;
	margin:0;
	background-color:#2c2c2c;
	background-image:url(../images/contactus-bg.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	}
.contactus h1{
	padding:0;
	margin:0 0 15px 0;
	color:#fff;
	font-size:30px;
	text-align:center
	}
.contactus h2{
	padding:0;
	margin:0 0 30px 0;
	color:#fff;
	font-size:20px;
	font-family: 'arvoregular';
	text-align:center
	}
.contactus p{
	padding:0;
	margin:0;
	}
.contactus p.input{
	display:inline-block;
	vertical-align:top;
	width:33%;
	}
.contactus p.textarea{
	display:block;
	width:100%;
	margin-top:15px;
	}
.contactus input[type="text"],input[type="email"],input[type="pass"]{
	width:92%;
	border:none;
	background-color:#fff;
	padding:10px;
	}
.contactus textarea{
	width:97%;
	border:none;
	background-color:#fff;
	padding:10px;
	height:100px;
	overflow:auto;
	}
.contactus label{
	display:block;
	color:#fff;
	font-size:14px;
	margin-bottom:5px;
	font-family: 'arvobold';
	}
.contactus p.captcha{
	display:block;
	width:100%;
	margin-top:15px;
	}
.contactus p.captcha label{
	display:inline-block;
	vertical-align:bottom;
	}
.contactus p.captcha input[type="text"]{
	width:92%;
	border:none;
	background-color:#fff;
	padding:10px;
	margin-top:5px;
	margin-left:10px;
	}
.contactus p.captcha input[type="submit"]{
	background-color:#730000;
	border:3px solid #fff;
	padding:5px 70px;
	color:#fff;
	margin-left:20px;
	width:85%;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	font-size:18px;
	font-family: 'arvobold';
	cursor:pointer;
	background-image:url(../images/submit-arrow.png);
	background-repeat:no-repeat;
	background-position:right -1px;
	}
/* contactus page close */

/* blog start */
.page-title.blog{
	padding:60px 0 70px 0;
	margin:0;
	}
.widget-area{
	padding:0;
	margin:0;
	display:inline-block;
	vertical-align:top;
	width:70%;
	text-align:right
	}
ul.widget-control{
	padding:0;
	margin:0;
	}
ul.widget-control li{
	list-style:none;
	display:inline-block;
	vertical-align:top;
	padding:0 5px;
	}
ul.widget-control li a{
	color:#292929;
	font-size:16px;
	font-family: 'arvobold';
	vertical-align:middle;
	padding-top:8px;
	}
ul.widget-control li span{
	color:#881208;
	font-size:14px;
	font-family: 'arvobold';
	}
.widget_subscribe{
	padding:0;
	margin:0;
	}
.widget_subscribe h3.widget-title{
	display:inline-block;
	color:#881208;
	font-size:18px;
	font-family: 'arvobold';
	padding:0;
	margin:0;
	}
#ny_subscribe_wrapper{
	display:inline-block;
	}
#ny_subscribe_wrapper span{
	display:none;
	}
form#ny_subscribe_form{
	padding:0;
	margin:0;
	}
form#ny_subscribe_form input[type="email"]{
	padding:8px;
	border:1px solid #dedede;
	width:100px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	font-family: 'arvobold';
	color:#d6d2d2
	}
form#ny_subscribe_form input#ny_subscribe_submit[type="submit"]{
	width:30px;
	height:30px;
	border:none;
	background-color:#6f0405;
	color:#fff;
	font-size:14px;
	font-family: 'arvobold';
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	cursor:pointer
	}
div.widget-category{
	padding:0;
	margin:0;
	}
div.widget-category select{
	padding:5px;
	margin:0;
	border:1px solid #dedede;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	cursor:pointer;
	width:130px;
	color:#d6d2d2;
	font-family: 'arvobold';
	}
.blog-post{
	padding:0;
	margin:0;
	}
.blog-post article{
	width:300px;
	display:inline-block;
	vertical-align:top;
	background-image:url(../images/blog-front-bg.jpg);
	background-repeat:no-repeat;
	background-position:bottom;
	padding-bottom:30px;
	margin:0 5px 20px;
	}
.blog-post div.readmore{
	padding:0;
	margin:0;
	text-align:right;
	}
.blog-post div.readmore a{
	background-image: url("../images/read-more.png");
    background-position: right center;
    background-repeat: no-repeat;
    font-size: 14px;
    padding-right: 20px;
	}
.post-meta{
	padding:0;
	margin:0 0 5px 0;
	overflow:hidden;
	font-family: 'arvoregular';
	}
.post-meta .author{
	float:left;
	width:50%;
	text-align:left;
	font-size:14px;
	color:#292929;
	}
.post-meta .author a{
	color:#881208
	}
.post-meta .comments{
	float:left;
	width:50%;
	text-align:right;
	font-size:14px;
	}
.post-meta .comments span{
	color:#881208;
	margin-left:5px;
	display:inline-block
	}
.post-thumb{
	padding:0;
	margin:0 0 10px 0;
	}
.post-thumb .carousel2{
	padding:0;
	margin:0;
	position:relative;
	}
.post-thumb .carousel2 .prev{
	position:absolute;
	top:40%;
	left:0;
	z-index:1000;
	width:35px;
	height:79px;
	display:block;
	font-size:0;
	background-image:url(../images/carousel.png);
	background-repeat:no-repeat;
	background-position:0 0;
	}
.post-thumb .carousel2 .next{
	position:absolute;
	top:40%;
	right:0;
	z-index:1000;
	width:35px;
	height:79px;
	font-size:0;
	display:block;
	background-image:url(../images/carousel.png);
	background-repeat:no-repeat;
	background-position:-36px 0;
	}
.post-thumb .carousel2 .prev:hover{
	background-position:0 -80px;
	}
.post-thumb .carousel2 .next:hover{
	background-position:-36px -80px;
	}
.post-thumb a{
	display:block
	}
.post-title-date{
	padding:0;
	margin:0 0 10px 0;
	overflow:hidden;
	border-bottom:1px solid #e4e4e4
	}
.post-title-date .dates{
	float:left;
	width:84px;
	}
.post-title-date .month{
	text-align:center;
	display:block;
	color:#292929;
	font-size:14px;
	padding:5px 0;
	background-color:#e4e4e4;
	font-family: 'arvobold';
	}
.post-title-date .date-wrap{
	overflow:hidden;
	padding:0;
	margin:0;
	}
.post-title-date .dates .pic-icon{
	background-color:#6f0405;
	width:42px;
	height:25px;
	line-height:25px;
	text-align:center;
	float:left;
	background-image:url(../images/blog-photo-icon.png);
	background-repeat:no-repeat;
	background-position:center center;
	}
.post-title-date .dates .video-icon{
	background-color:#6f0405;
	width:42px;
	height:25px;
	line-height:25px;
	background-image:url(../images/blog-video-icon.png);
	background-repeat:no-repeat;
	background-position:center center;
	text-align:center;
	float:left;
	}
.post-title-date .dates .video-icon img, .pic-icon img{
	vertical-align:inherit;
	margin-top:5px;
	}
.post-title-date .dates .date{
	background-color:#dc8c90;
	width:42px;
	height:25px;
	line-height:25px;
	color:#fff;
	font-size:18px;
	text-align:center;
	float:left;
	font-family: 'arvobold';
	}
.post-title-date .title{
	float:right;
	width:200px;
	padding-left:16px;
	}
.post-title-date .title h2.post-title{
	margin:0;
	padding:0;
	color:#292929;
	font-size:18px;
	}
.post-title-date .title h2.post-title a{
	color:#292929;
	}
.blog-post.inner{
	padding:0;
	margin:0;
	}
.blog-post.inner article{
	background-image:none;
	width:100%;
	padding:0;
	}
.blog-post.inner .post-title-date{
	border-bottom:0;
	margin-bottom:20px;
	}
.blog-post.inner .post-title-date .title{
	width:840px;
	padding:0 0 0 16px;
	}
.blog-post.inner .post-title-date .title h2.post-title{
	margin-bottom:7px;
	}
.blog-post.inner .post-content h3{
	 color:#292929;
	 font-size:18px;
	}
.blog-post.inner .post-content ul{
	padding:0;
	margin:0 0 15px 0;
	}
.blog-post.inner .post-content li{
	list-style:none;
	padding-left:20px;
	background-image:url(../images/bullet.png);
	background-repeat:no-repeat;
	background-position:left 5px;
	font-style:italic;
	color:#292929;
	line-height:22px;
	margin-bottom: 15px;
	}
.blog-post.inner .alignleft{
	overflow:hidden;
	padding:0;
	margin:0 0 10px 0
	}
.blog-post.inner .alignleft img{
	float:left;
	margin-right:15px;
	}
.blog-post.inner .alignright{
	overflow:hidden;
	padding:0;
	margin:0 0 10px 0
	}
.blog-post.inner .alignright img{
	float:right;
	margin-left:15px;
	}
.addthis_toolbox{
	padding:0;
	margin:0;
	}

#comments{
	padding:0;
	margin:0
	}
#respond{
	padding:0;
	margin:0;
	overflow:hidden;
	}
#respond h3{
    color: #881208;
    display: block;
	font-family: 'arvobold';
    font-size:30px;
    font-weight: normal;
    margin-bottom: 15px;
	}
#respond .cancel-comment-reply{
	margin-bottom:15px;
	}
#respond .cancel-comment-reply small{
	font-size:14px;
	}
#respond .cancel-comment-reply small a{
	margin-left:5px;
	}
#respond #commentform{
	padding:0;
	margin:0;
	overflow:hidden;
	}
#respond #commentform p{
	margin:0 0 10px 0;
	padding:0;
	}
#respond #commentform p label{
	font-family: 'arvobold';
	font-size:14px;
	}
#respond #commentform p.author{
	width:31%;
	margin-right:10px;
	display:inline-block;
	vertical-align:top;
	}
#respond #commentform p.email{
	width:31%;
	margin-right:10px;
	display:inline-block;
	vertical-align:top;
	}
#respond #commentform p.url{
	width:31.5%;
	display:inline-block;
	vertical-align:top;
	}
#respond #commentform p.comment{
	width:100%;
	}
#respond #commentform p.captcha{
	width:25%;
	margin-right:10px;
	float:left;
	}
#respond #commentform p.captcha-code{
	width:38%;
	margin-right:10px;
	float:left;
	}
#respond #commentform p.submit{
	width:25%;
	float:left;
	}	
#respond #commentform input[type="text"], input[type="email"]{
	border:1px solid #d7d7d7;
	padding:10px 2%;
	width:92%;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:inset 1px 1px #ededed;
   -moz-box-shadow:inset 1px 1px #ededed;
	box-shadow:inset 1px 1px #ededed;
	}
#respond #commentform textarea{
	border:1px solid #d7d7d7;
	height:150px;
	width:95%;
	padding:10px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:inset 1px 1px #ededed;
   -moz-box-shadow:inset 1px 1px #ededed;
	box-shadow:inset 1px 1px #ededed;
	font-family: 'proxima_novaregular';
	font-size:14px;
	}
#respond #commentform input[type="submit"]{
	background-color:#730000;
	padding:7px 50px;
	cursor:pointer;
	color:#fff;
	font-size:16px;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	border-radius:100px;
	width:100%;
	border:3px solid #fff;
	font-family: 'arvobold';
	background-image:url(../images/submit-arrow.png);
	background-repeat:no-repeat;
	background-position:right top;
	}
#respond #commentform p.captcha-code input[type="text"]{
	width:95%;
	}
h3#comments-title{
	color: #881208;
    display: block;
    font-family: 'arvobold';
    font-size:30px;
    font-weight: normal;
    margin-bottom:20px;
	}
ol.commentlist{
	padding:0;
	margin:0 0 20px 0
	}
ol.commentlist li{
	list-style:none;
	border-bottom:1px solid #d9d9d9;
	margin-bottom:5px;
	background-image:none;
	padding:15px 15px 0 15px;
	background-color:#f8f8f8;
	}
ol.commentlist li:last-child{
	border-bottom:0px solid #d9d9d9;
	margin-bottom:0
	}
a.view-all{
	background-image:url(../images/arrow-icon2.png);
	background-repeat:no-repeat;
	background-position:right 3px;
	padding-right:15px;
	font-weight:bold;
	}
.avatar-cover{}
.reply{}
.comment-author{
	color:#292929;
	font-size:18px;
	font-family: 'arvobold';
	display:block;
	margin-bottom:5px;
	}
.comment-body p{
	color:#727272
	}
ol.commentlist li div.comment-author-meta{
	position:relative;
	}
ol.commentlist li div.comment-author-meta div.comment-meta{
	position:absolute;
	right:0;
	top:0;
	color:#a6a6a6;
	font-size:14px;
	font-family: 'arvoregular';
	}
/* blog close */
.wp-pagenavi span.pages{display: none;}
