@font-face {
	font-family: 'proxima_novabold';
	src: url('proximanova-bold_0-webfont-webfont.eot');
	src: url('proximanova-bold_0-webfont-webfont.eot?#iefix') format('embedded-opentype'),  url('proximanova-bold_0-webfont-webfont.woff') format('woff'),  url('proximanova-bold_0-webfont-webfont.ttf') format('truetype'),  url('proximanova-bold_0-webfont-webfont.svg#proxima_novabold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_novalight';
	src: url('proximanova-light_0-webfont-webfont.eot');
	src: url('proximanova-light_0-webfont-webfont.eot?#iefix') format('embedded-opentype'),  url('proximanova-light_0-webfont-webfont.woff') format('woff'),  url('proximanova-light_0-webfont-webfont.ttf') format('truetype'),  url('proximanova-light_0-webfont-webfont.svg#proxima_novalight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_novaregular';
	src: url('proximanova-regular_0-webfont-webfont.eot');
	src: url('proximanova-regular_0-webfont-webfont.eot?#iefix') format('embedded-opentype'),  url('proximanova-regular_0-webfont-webfont.woff') format('woff'),  url('proximanova-regular_0-webfont-webfont.ttf') format('truetype'),  url('proximanova-regular_0-webfont-webfont.svg#proxima_novaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_novasemibold';
	src: url('proximanova-semibold_0-webfont-webfont.eot');
	src: url('proximanova-semibold_0-webfont-webfont.eot?#iefix') format('embedded-opentype'),  url('proximanova-semibold_0-webfont-webfont.woff') format('woff'),  url('proximanova-semibold_0-webfont-webfont.ttf') format('truetype'),  url('proximanova-semibold_0-webfont-webfont.svg#proxima_novasemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'arvobold_italic';
	src: url('arvo-bolditalic-webfont.eot');
	src: url('arvo-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),  url('arvo-bolditalic-webfont.woff') format('woff'),  url('arvo-bolditalic-webfont.ttf') format('truetype'),  url('arvo-bolditalic-webfont.svg#arvobold_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'arvoitalic';
	src: url('arvo-italic-webfont.eot');
	src: url('arvo-italic-webfont.eot?#iefix') format('embedded-opentype'),  url('arvo-italic-webfont.woff') format('woff'),  url('arvo-italic-webfont.ttf') format('truetype'),  url('arvo-italic-webfont.svg#arvoitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'arvoregular';
	src: url('arvo-regular-webfont.eot');
	src: url('arvo-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('arvo-regular-webfont.woff') format('woff'),  url('arvo-regular-webfont.ttf') format('truetype'),  url('arvo-regular-webfont.svg#arvoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'arvobold';
	src: url('arvo-bold-webfont.eot');
	src: url('arvo-bold-webfont.eot?#iefix') format('embedded-opentype'),  url('arvo-bold-webfont.woff') format('woff'),  url('arvo-bold-webfont.ttf') format('truetype'),  url('arvo-bold-webfont.svg#arvobold') format('svg');
	font-weight: normal;
	font-style: normal;
}
